/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*

	START ROOTED

*/

:root {
	--color-rooted: #39542c;
	--color-gray: #f1f1f1;
	--color-gray-darker: #ddd;
	--color-gray-darkest: #888;
	--padding-content: 1rem;
	--width-max: 40rem; 
}

html {
	font-size: 18px;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h1,
h2,
h3,
p,
article {
	margin-bottom: 1rem;
}

h1 { font-size: 2em; }
h2 { 
	font-size: 1.5em; 
	margin-top: 2rem ;
}
h3 { 
	font-size: 1.25em; 
	margin-top: 2rem ;
}
strong { font-weight: bold; }
em { font-style: italic; }
a {
	color: var(--color-text);
	text-decoration: none; 
	border-bottom: solid 2px var(--color-rooted);
}
a:hover { border-color: var(--color-gray-darker) }
ul {
	list-style: square; 
	padding-left: 2rem;
}
li { margin-bottom: .5rem; }

.masthead {
	padding: calc(var(--padding-content) * 2) var(--padding-content); 
	text-align: center; 
	color: #222; 
	display: flex; 
	background: var(--color-gray); 
	justify-content: center; 
	flex-direction: row;
}
.masthead__divider {
	width: 1px; 
	margin: 0 1.5rem;
	background: #ccc; 
	opacity: .6;
	transform: rotate(35deg);
	height: 80px;  
}
.masthead__logo {
	width: 180px;
	height: 60px; 
	margin:  10px 0;
	background-repeat: no-repeat;
	background-position: center; 
	text-indent: -99999px;
	position: relative;
}
.masthead__logo--rooted { background-image: url(./logo-rooted.svg); }
.masthead__logo--fcc { background-image: url(./logo-fcc.svg); }
.masthead__logo--fcc:hover { opacity: .7; }
.masthead__logo--fcc a {
	position: absolute;
	border: 0;
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0;
}

.nav {
	border-bottom: solid 2px var(--color-gray); 
	padding: var(--padding-content);
	position: sticky; 
	top: 0; 
	z-index: 10000; 
	background: white; 
}
.nav__grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	max-width: var(--width-max);
	margin: 0 auto; 
	align-items: center;
}
.nav__grid__item {
	text-align: center; 
	text-decoration: none; 
	margin: 4px;
	padding: .5rem .25rem; 
	border: solid 2px var(--color-gray-darker);
	font-size: .875rem; 
	border-radius: 8px; 
	color: #222; 
}
.nav__grid__item:hover {
	background: rgba(0,0,0,.05); 
	border: solid 2px var(--color-gray-darker);
}
.nav__grid__item--home { grid-area: 1 / 1 / 2 / 6; }
.nav__grid__item--active { 
	font-weight: bold; 
	color: white; 
	background: var(--color-rooted); 
	border-color: var(--color-rooted);
}
.nav__grid__item--active:hover { 
	background: var(--color-rooted); 
	border-color: var(--color-rooted);
}

.header {
	color: var(--color-rooted); 
	padding: calc(var(--padding-content) * 2) var(--padding-content) 0;
}
.header__title {
	margin: 1rem auto 0; 
	max-width: var(--width-max); 
	font-weight: bold; 
	font-size: 3.5rem;
	letter-spacing: -.02em; 
	line-height: 1.2;
}

.main {
	max-width: var(--width-max);
	padding: var(--padding-content); 
	margin: 1rem auto; 
}

.video {
	width: 140%; 
	margin-left: -20%;
	padding-bottom: 75%;
	margin-bottom: 1rem;
}

.actions {
	margin: calc(4 * var(--padding-content)) 0 0;
	font-size: .875rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	align-items: center;
	grid-column-gap: 1rem;
}

.footer {
	background: var(--color-gray); 
	padding: calc(3 * var(--padding-content)) var(--padding-content);
	text-align: center; 
	font-size: .875rem; 
	margin-top: 3rem;
	color: var(--color-gray-darkest); 
}


@media (max-width: 1000px) {
	.video {
		width: 100%; 
		margin-left: 0; 
		padding-bottom: 57%;
	}
}

@media (max-width: 500px) {
	html { font-size: 16px; }
	.masthead {
		padding: .5rem var(--padding-content);
	}
	.nav__grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.nav__grid__item { padding: .12rem; }
	.nav__grid__item--home { grid-area: auto; }
	.actions {
		grid-template-columns: repeat(1, 1fr); 
		grid-row-gap: 4px;
	}
}


