<!DOCTYPE html>
<html>
<head>
	<title>Rooted {{ page.title }} | First Christian Church</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,800&display=swap" rel="stylesheet">
</head>
<body>
	<div id="top" class="masthead">
		<div class="masthead__logo masthead__logo--fcc"><a href="https://firstchristian.com/" target="_blank">First Christian Church</a></div>
		<div class="masthead__divider"></div>
		<div class="masthead__logo masthead__logo--rooted">Rooted Logo</div>
	</div>

	<nav class="nav">
		<div class="nav__grid">
			<a class="nav__grid__item nav__grid__item--home {% if '/' == page.url %}nav__grid__item--active{% endif %}" href="{{ site.baseurl }}">Intro</a>
			{% for week in site.weeks %}
			<a class="nav__grid__item {% if week.url == page.url %}nav__grid__item--active{% endif %}" href="{{ site.baseurl }}/{{ week.url }}">{{ week.title }}</a>
			{% endfor %}
		</div>
	</nav>

	<header class="header">
		<h1 class="header__title">Rooted: {{ page.title }}</h1>
	</header>

	<main class="main">
		{{ content }}
	</main>	

	<footer class="footer">
		First Christian Church 
	</footer>
</body>
</html>
